/* TOP LINE */

body {
	padding-top: 50px;
	padding-bottom: 0px;
}

/* TEXTE */

.initialism {
  font-size: inherit;
}

.icon-footer li {
  height: 100%;
  vertical-align: middle;
}

.icon-footer img {
  vertical-align: middle;
  width: 30px;
  height: auto;
}

/* PARTNERS */

.partners {
  text-align: center;
}

.partners figure {
  margin: 0;
  position: relative;
  height: 140px;
  overflow: hidden;
}

.partners figure img {
  max-height: 100px;
  max-width: 100%;
  position: relative;
}

.partners figcaption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0.5em 2em;
  margin: 0;
  background: rgb(255,255,255); /*rgba(30,120,130,1);*/
  color: rgb(20,20,20); /*rgb(255,255,255);*/
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform : scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-out, opacity 0.5s ease-in;
  -moz-transition: -moz-transform 0.5s ease-out, opacity 0.5s ease-in;
  transition: transform 0.5s ease-out, opacity 0.5s ease-in;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.partners figcaption a {
  padding: 5px 5px;
  background-color: rgb(240,240,240);
  text-transform: uppercase;
  font-size: 85%;  
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

.partners figcaption a:hover {
  text-decoration: none;
  background-color: transparent;
  color: rgb(30, 120, 130);
}

.partners figcaption p {
  font-style: italic;
  font-size: 85%;
}

.partners figure:hover img { /*ajouter .no-touch pour un comportement uniquement sur un écran non tactile dans le cas où j'utilise Modernizr*/
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg); 
  transform: rotateX(90deg);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.partners figure:hover figcaption {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform : scale(1);
}