{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<h2 class="text-uppercase">Why this project?</h2>
		<p>But ultime : Mettre en place un outil/levier pour faire avancer les choses dans la gestion de nos déchets.</p>
		<p>PROJET A</p>
		<ul>
			<li>Metha = Carto, Partenariats avec boites fr</li>
			<li>Autres moyens de traitement</li>
			<li>Autres moyens de collecte</li>
		</ul>

		<p>PROJET B</p>
		<ul>
			<li>Organisation gestion des déchets</li>
			<ul>
				<li>Techno de traitement</li>
				<li>Logistique transport</li>
				<li>Financement (Taxe,Eco-organisme, ...)</li>
			</ul>
			<li>Perception du déchet (tacher de ne pas avoir une approche militante !)</li>
			<ul>
				<li>Gestes quotidiens sur déchets : rush vidéos de geste + Interviews improvisées</li>
				<li>Dépotoires : rush videos + interviews de ceux qui vivent à côté</li>
				<li>Sites de traitement : rush video + interview exploitant</li>
			</ul>
		</ul>

	<h2 class="text-uppercase">Communication Dimension: <small>Promote & Support Anaerobic Digestion around the World</small></h2>
		<p>The core idea is to pay tribute to those, on the field, who pragmaticly try to make the things going better. Without their unbeatable optimism and sometimes craziness things will be plain. They shape the world and their words deserve to be spread and considered.</p>
		<ul>
			<li>For an entrepreneur this website is a "vitrine" where he can be seen by anybody around the world and consequently contacted for a donation, investment, lending, or skills-based sponsorship.</li>
			<li>For the others those testimonies are a source of inspiration and allow some organisations to source some projects that fit there pipe.</li>
		</ul>

	<h2 class="text-uppercase">Educational Dimension: <small>Spread AD knowledge</small></h2>
	<p>Workshops on anaerobic digestion. Build your own digesteur to get energy and fertilizer from food waste and excrement. (karnaval, Insa)</p>

	<h2 class="text-uppercase">Methodology</h2>
	<p>1- We organise a meeting with the entrepreneur in the place where he works.<br />We spend several days in the region to understand better his environment.<br />2- We then answer the Who ? What ? How ? of his project.<br />3- We make the video.<br />4- We keep in contact with the entrepreneur.</p>
	<p>2 min videos of entrepreneur's projects covering:</p>
	<ul>
		<li>Who is this entrepreneur?</li>
		<li>What is his goal?</li>
		<li>How does he make it true?</li>
		<li>Who does he work with?</li>
		<li>Who benefits from his project?</li>
		<li>What is his next move?</li>
	</ul>
	<ul>
		<li>aller passer du temps avec les populations bénéficiaires, être spécifique dans ke choix de la population.</li>
		<li>se demander comment avoir des impacts positifs sociaux, environnementaux & économiques.</li>
		<li>avoir une démarche entrepreneuriale</li>
		<li>faire en sorte que le projet ait une réelle dimension économique : revenus & transferts économiques</li>
		<li>renforcer l’autonomie des populations bénéficiaires</li>
		<li>monter le projet avec les bénéficiaires et non pour, croire en leurs capacités</li>
		<li>penser à la pérennité du projet</li>
	</ul>
	<p>Indicateurs de suivi de l'impact des projets.</p>

	<h2 class="text-uppercase">Calendar</h2>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h3 class="panel-title text-uppercase">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Phase 1 [2014] <small>Asian Exploration</small></a>
				</h3>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					Olivier rédige un paragraphe (10 lignes max) résumant ses 6 mois. Ajouter lien vers leur site Web.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h3 class="panel-title text-uppercase">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Phase 2 [2016] <small>South America & Africa Explorations + First Asian Collaborations</small></a>
				</h3>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					Yann Rédige un paragraphe sur les objectifs de sa mission.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h3 class="panel-title text-uppercase">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Phase 3 [2017 and More] <small>World Collaborations & Partnerships</small></a>
				</h3>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					Olivier et Yann rédigent un paragraphe sur leur vision du projet post tours du monde.
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock content %}