{% extends 'home/base.html' %}

{% block content %}
<div class="container">
	<h2 class="text-uppercase">Activité de la filière déchets</h2>
	<p>Activités de la filière des déchets : Prévention, Collecte, Traitement/Valorisation, Elimination. Et sur toute la filière : mesure de l'impact environnemental.</p>
	<h2 class="text-uppercase">France FactSheet</h2>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<td>RESPONSABILITE DE LA GESTION</td>
				<td>TERRITOIRES ONT COMPETENCE COLLECTE / COMPETENCE TRAITEMENT QU'ILS TRANSFERRENT SOUVENT A DES SOCIETES PRIVES. ON VOIT APPARAITRE DE LA GESTION PORTEE DIRECTEMENT PAR LE PRODUCTEUR DU DECHET (COMPOSTAGE, REUTILISATION)</td>
			</tr>
			<tr>
				<td>FINANCEMENT</td>
				<td></td>
			</tr>
			<tr>
				<td>ACTEURS PRINCIPAUX</td>
				<td></td>
			</tr>
			<tr>
				<td>DECOUPAGE DU MARCHE PAR TYPE DE DECHETS</td>
				<td>ORDURES MENAGERES RESIDUELLES, DECHETS RECYCLABLES, DECHETS DES ENTREPRISES, ENCOMBRANTS, DECHETS DANGEREUX (DASRI, ETC.)</td>
			</tr>
			<tr>
				<td>SYNOPTIQUE DE L'ORGANISATION</td>
				<td>PRE-COLLECTE (sacs plastiques, bacs, conteneurs enterrés) -> COLLECTE -> TRI (OU DECHETTERIE EN // DES 3 ETAPES PRECEDENTES -> TRAITEMENT (STOCKAGE, VALORISATION) + TRACABILITE</td>
			</tr>
		</table>

		<p>Initiatives Métha</p>
		<ul>
			<li><a href="http://www.developpement-durable.gouv.fr/Du-jus-de-choucroute-transforme-en.html>">Méthanisation jus de choucroute (très corrosif) de l'usine de choucroute de Krautergersheim (produit 75% de la consommation française)</a></li>
		</ul>

	</div>
</div>
{% endblock content %}