{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="text-center">{% trans "Empowering best-in-class waste management initiatives" %}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "How?" %}</h2>
            <ul>
                <li>Facilitate international cooperation / contact between AD entrepreneurs and engineering offices / financial structures</li>
                <li>Communication Relays</li>
                <li>Diffuser l'expertise et le savoir-faire français dans les pays du Sud.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>How to participate?</h2>
            <ul>
                <li>Source a project/entrepeneur.</li>
                <li>Update an already existing project.</li>
                <li>Talk about this project around you.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Measuring the Impact of this project</h2>
            <ul>
                <li>Number of technical partnerships created</li>
                <li>Nombre de vidéos de projets différents réalisées</li>
                <li>Nombre de financements facilités par le projet.</li>
                <li>Baisse de CO2, Nombre de kWh facilités par le projet</li>
            </ul>
        </div>
    </div>
</div>

<div class="container partners">
    <h2>{% trans "Partners" %}</h2>

    <div class="row">
        <div class="col-md-3">
            <figure>
                <img src="{% static "home/img/logo_happynest.png" %}" />
                <figcaption>
                    <p class="text-center">{% trans "Promote clean organic waste management in developed countries" %}</p>
                    <a href="http://happynest.fr/" class="btn btn-default" role="button">> HappyNest <</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="{% static "home/img/logo_esscentraliens.png" %}" />
                <figcaption>
                    <p class="text-center">Communauté d'acteurs de l'Economie Sociale et Solidaire composée d'ingénieurs centraliens.</p>
                    <a href="http://ess.centraliens.net/cms/" class="btn btn-default" role="button">> ESS Centraliens <</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="{% static "home/img/logo_fow.png" %}" />
                <figcaption>
                    <p class="text-center">{% trans "First global collaborative platform for people passionate about…the future of waste." %}</p>
                    <a href="http://www.futureofwaste.org/" class="btn btn-default" role="button">> FoW <</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3">
            <figure>
                <img src="{% static "home/img/logo_paillasse_saone.png" %}" />
                <figcaption>
                    <p class="text-center">An ecohacklab in Lyon, France</p>
                    <a href="https://lapaillassaone.wordpress.com/" class="btn btn-default" role="button">> Paillasse Saône <</a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

{% endblock content %}