{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div id="bgvid_container">
    <video autoplay loop poster="{% static "home/img/Aerial_mountain.jpg" %}" id="bgvid">
        <source src="{% static "home/video/Aerial_mountain.webm" %}" type="video/webm">
        <source src="{% static "home/video/Aerial_mountain.mp4" %}" type="video/mp4">
    </video>
</div>

<div class="container home_main_div">
    <h1 class="catchline">{% trans "Wildness, Adventure, Contemplation, Sport" %}</h1>
    <div class="tagline">
        <h2>{% trans "My adventures in pictures, writings & videos"  %}</h2>
        <h2>{% trans "Basic naturalist lessons"  %}</h2>
    </div>
</div>

{% endblock content %}