{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div id="bgvid_container">
    <video autoplay loop poster="{% static "home/img/Aerial_mountain.jpg" %}" id="bgvid">
        <source src="{% static "home/video/Aerial_mountain.webm" %}" type="video/webm">
        <source src="{% static "home/video/Aerial_mountain.mp4" %}" type="video/mp4">
    </video>
</div>

<div class="container home_main_div">
    <h1 class="catchline">{% trans "Wildness, Adventure, Contemplation, Sport" %}</h1>
    <div class="tagline">
        <h2>Topos de rando</h2>
        <h2>Curiosités montagnardes</h2>
        <h2>Sourires ;-)</h2>
        <h2>Fraîcheur de vivre</h2>
    </div>
</div>

{% endblock content %}