{% extends 'home/base.html' %}
{% load i18n %}

{% block content %}
<div class="container container_body">
    <form action="{% url 'sign_in' %}" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="fieldWrapper">
                    <label for="username_id">Username</label>
                    <input type="text" id="username_id" class="form-control" name="username" placeholder="Username" />
                </div>
                <div class="fieldWrapper">
                    <label for="password_id">Password</label>
                    <input type="password" id="password_id" class="form-control" name="password" placeholder="Password" />
                </div>
                <button type="submit" class="btn center-block">{% trans "Sign in" %}</button>
            </div>
        </div>
    </form>
    <p>or <a href="{% url 'register' %}">{% trans "Register" %}</a></p>
</div>
{% endblock content %}