html, body {
	height: 100%;
}
.container-map {
	padding-right: 0px;
	padding-left: 0px;
	height: 100%;
	height: calc(100% - 50px);
}

#map{height: 100%;}

.leaflet-container {
	height: 100%;
}
