{% extends 'home/base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="container">
	<h2>{% trans "Download the database" %}</h2>
	<div class="row">
		<div class="col-md-4">
			<p class="text-center"><a href="{% url 'download_db_csv' %}" class="btn btn-default btn-lg" role="button">{% trans "CSV Format" %}</a></p>
		</div>
		<div class="col-md-4">
			<p class="text-center"><a href="{% url 'download_db_pdf' %}" class="btn btn-default btn-lg" role="button">{% trans "PDF Format" %}</a></p>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	<p>CSV format can be read by any spreedsheet software. You can even use import this file in Google Map to get your own cartography from A.D. Around the World database.</p>
</div>

<div class="container">
	<h2>Consult the database directly on this table</h2>
	<table data-toggle="table" data-striped="true" data-search="true" data-sort-name="start" data-sort-order="desc" data-show-columns="true">
		<thead>
			<tr>
				<th class="col-xs-1" data-field="name" data-sortable="true" data-halign="left" data-valign="top" data-align="left" data-switchable="false">Project Name</th>
				<th class="col-xs-2" data-field="picture">Photo</th>
				<th class="col-xs-1" data-field="start" data-sortable="true">Start</th>
				<th class="col-xs-1" data-field="status" data-sortable="true">Status</th>
				<th class="col-xs-1" data-field="stage" data-sortable="true">Stage</th>
				<th class="col-xs-1" data-field="power" data-sortable="true">Power (kW)</th>
				<th class="col-xs-2" data-field="description">Description</th>
				<th class="col-xs-1" data-field="location" data-visible="false">Location (Long,Lat)</th>
			</tr>
		</thead>
		<tbody>
		{% for i in initiatives %}
			<tr>
				<td>{{ i.project_name }}</td>
				<td>{% if i.picture %}<img class="img-responsive" src="{{ i.picture|thumbnail_url:'small' }}" />{% endif %}</td>
				<td>{{ i.start }}</td>
				<td>{{ i.status }}</td>
				<td>{{ i.stage }}</td>
				<td>{{ i.power }}</td>
				<td>{{ i.description }}</td>
				<td>{{ i.geom.coords }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}