{% extends 'home/base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% trans "WASC | Aventures" %}{% endblock %}

{% block breadcrumb2 %}
    {{ block.super }}
    <li><a href="{% url 'list_trips' %}">{% trans "Liste des aventures" %}</a></li>
{% endblock breadcrumb2 %}

{% block content %}
<div class="container-fluid">
    <div class="container container_body">
        <h1 class="text-uppercase">{% trans "Liste des aventures" %}</h1>
        <div class="container">
            <div class="row">
            {% for t in trips %}
                <div class="col-md-4">
                    <figure style="position: relative;">
                        <figcaption class="text-over-img">
                            <a href="{% url 'trip' t.trip_slug %}" class="btn btn-default center-block" role="button">{{ t.trip_name }} | {{ t.nbr_of_days }} {% trans "jours" %} | {{ t.trip_year }}</a>
                        </figcaption>
                        <a href="{% url 'trip' t.trip_slug %}"><img class="img-responsive img-thumbnail center-block" src="/media/{{ t.picture_tag }}" /></a>
                    </figure>
                </div>
            {% endfor %}
            </div>
            <!--<div class="row">
                <h3 class="text-uppercase">{% trans "1 jour" %}</h3>
                {% for t in trips %}
                    {% if t.nbr_of_days = 1 %}
                        <div class="col-md-4">
                            <figure>
                                <figcaption>
                                    <a href="{% url 'trip' t.id %}" class="btn btn-default center-block" role="button">{{ t.trip_name }}</a>
                                </figcaption>
                                <img class="img-responsive img-thumbnail center-block" src="/media/{{ t.picture_tag }}" %}" />
                            </figure>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <h3 class="text-uppercase">{% trans "2 jours" %}</h3>
                {% for t in trips %}
                    {% if t.nbr_of_days = 2 %}
                        <div class="col-md-4">
                            <figure>
                                <figcaption>
                                    <a href="{% url 'trip' t.id %}" class="btn btn-default center-block" role="button">{{ t.trip_name }}</a>
                                </figcaption>
                                <img class="img-responsive img-thumbnail center-block" src="/media/{{ t.picture_tag }}" %}" />
                            </figure>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                 <h3 class="text-uppercase">{% trans "Jusqu'à 1 semaine" %}</h3>
                {% for t in trips %}
                    {% if t.nbr_of_days > 2 and t.nbr_of_days < 8 %}
                        <div class="col-md-4">
                            <figure>
                                <figcaption>
                                    <a href="{% url 'trip' t.id %}" class="btn btn-default center-block" role="button">{{ t.trip_name }} ({{ t.nbr_of_days }} {% trans "jours" %})</a>
                                </figcaption>
                                <img class="img-responsive img-thumbnail center-block" src="/media/{{ t.picture_tag }}" %}" />
                            </figure>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <h3 class="text-uppercase">{% trans "Plus d'une semaine" %}</h3>
                {% for t in trips %}
                    {% if t.nbr_of_days > 7 %}
                        <div class="col-md-4">
                            <figure>
                                <figcaption>
                                    <a href="{% url 'trip' t.id %}" class="btn btn-default center-block" role="button">{{ t.trip_name }} ({{ t.nbr_of_days }} {% trans "jours" %})</a>
                                </figcaption>
                                <img class="img-responsive img-thumbnail center-block" src="/media/{{ t.picture_tag }}" %}" />
                            </figure>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>-->
        </div>


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 0; margin-top:15px;">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h3 class="panel-title text-uppercase text-center">
                        <a class="collapsed text-uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">{% trans "Détails" %}</a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="container container_body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-center"><a href="{% url 'list_trips_csv' %}" class="btn btn-default btn-lg" role="button">{% trans "Télécharger les voyages en CSV" %}</a></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-center"><a href="{% url 'list_trips_pdf' %}" class="btn btn-default btn-lg" role="button">{% trans "Télécharger les voyages en PDF" %}</a></p>
                                </div>
                            </div>
                        </div>
                        <table data-toggle="table" data-striped="true" data-search="true" data-sort-name="start" data-sort-order="desc" data-show-columns="true">
                            <thead>
                                <tr>
                                    <th class="col-xs-1" data-field="name" data-sortable="true" data-halign="left" data-valign="top" data-align="left" data-switchable="false">{% trans "Voyage" %}</th>
                                    <th class="col-xs-1" data-field="start_date" data-sortable="true">{% trans "Départ" %}</th>
                                    <th class="col-xs-1" data-field="nbr_days" data-sortable="true">{% trans "Nombre de jours" %}</th>
                                    <th class="col-xs-1" data-field="stages" data-sortable="true">{% trans "Etapes" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for t in trips %}
                                <tr>
                                    <td><a href="{% url 'trip' t.trip_slug %}">{{ t.trip_name }}</a></td>
                                    <td>{{ t.start_date }}</td>
                                    <td>{{ t.nbr_of_days }}</td>
                                    <td>
                                        <ul  class="list-unstyled">
                                            {% for stage in t.tripstage_set.all %}<li><a href="{% url 'trip_stage' stage.stage_slug %}">{{ stage.stage_name }}</a></li>{% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #f5f5f5">
    <div class="container container_body">
        <h1 class="text-uppercase">{% trans "Liste des étapes de voyage" %}</h1>

        <table data-toggle="table" data-striped="true" data-search="true" data-sort-name="start" data-sort-order="desc" data-show-columns="true">
            <thead>
                <tr>
                    <th class="col-xs-1" data-field="name" data-sortable="true" data-halign="left" data-valign="top" data-align="left" data-switchable="false">{% trans "Etape" %}</th>
                    <th class="col-xs-2" data-field="trip_linked">{% trans "Aventure associée" %}</th>
                    <th class="col-xs-1" data-field="date" data-sortable="true">{% trans "Date" %}</th>
                    <th class="col-xs-1" data-field="massif" data-sortable="true">{% trans "Massif" %}</th>
                    <th class="col-xs-1" data-field="distance" data-sortable="true">{% trans "Distance (km)" %}</th>
                    <th class="col-xs-1" data-field="duration" data-sortable="true">{% trans "Durée (h)" %}</th>
                    <th class="col-xs-1" data-field="location" data-visible="false">{% trans "Localisation (Long,Lat)" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for t in trip_stages %}
                <tr>
                    <td><a href="{% url 'trip_stage' t.stage_slug %}">{{ t.stage_name }}</a></td>
                    <td>
                        <a href="{% url 'trip' t.trip_linked.trip_slug %}">{{ t.trip_linked }}</a>
                    </td>
                    <td>{{ t.date }}</td>
                    <td>{{ t.massif }}</td>
                    <td>{{ t.distance }}</td>
                    <td>{{ t.duration }}</td>
                    <td>{{ t.geom.coords }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="container container_body">
        <div class="row">
            <div class="col-md-6">
                <p class="text-center"><a href="{% url 'list_trip_stages_csv' %}" class="btn btn-default btn-lg" role="button">{% trans "Télécharger les étapes en CSV" %}</a></p>
            </div>
            <div class="col-md-6">
                <p class="text-center"><a href="{% url 'list_trip_stages_pdf' %}" class="btn btn-default btn-lg" role="button">{% trans "Télécharger les étapes en PDF" %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}