{% extends 'home/base.html' %}
{% load i18n %}

{% block title %}{% trans "WASC" %} | {{ t.trip_name }}{% endblock %}

{% block breadcrumb2 %}
    {{ block.super }}
    <li><a href="{% url 'list_trips' %}">{% trans "Liste des aventures" %}</a></li>
    <li><a href="{% url 'trip' t.trip_slug %}">{{ t.trip_name }}</a></li>
{% endblock breadcrumb2 %}

{% block content %}
<div class="container padding_top_15px">
    <h1>{{ t.trip_name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <p>{{ t.start_date }} - {{ t.end_date }}</p>
            <p style="margin-bottom: 15px;">{{ t.nbr_of_days }} {% trans "jours" %}</p>
            {% if t.description %}{{ t.description|safe }}{% endif %}
        </div>
        <div class="col-md-6">
            <img class="img-responsive center-block" src="/media/{{ t.picture_tag }}" %}" />
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 15px;">
    <div class="row">
        {% for stage in t.tripstage_set.all %}
            <div class="col-md-4 padding_top_bot_10px">
                <figure style="position: relative;">
                    <figcaption class="text-over-img">
                        <a href="{% url 'trip_stage' stage.stage_slug %}" class="btn btn-default center-block" role="button">{{ stage.stage_name }}</a>
                    </figcaption>
                    <a href="{% url 'trip_stage' stage.stage_slug %}"><img class="img-responsive img-thumbnail center-block" src="/media/{{ stage.picture_tag }}" %}" /></a>
                </figure>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid" style="background-color: #f5f5f5">
    <div class="container container_body">
        <h1 class="text-uppercase">{% trans "Etapes" %}</h1>

        <table data-toggle="table" data-striped="true" data-search="true" data-sort-name="start" data-sort-order="desc" data-show-columns="true">
            <thead>
                <tr>
                    <th class="col-xs-1" data-field="name" data-sortable="true" data-halign="left" data-valign="top" data-align="left" data-switchable="false">{% trans "Etape" %}</th>
                    <th class="col-xs-2" data-field="trip_linked" data-visible="false">{% trans "Aventure associée" %}</th>
                    <th class="col-xs-1" data-field="date" data-sortable="true">{% trans "Date" %}</th>
                    <th class="col-xs-1" data-field="massif" data-sortable="true">{% trans "Massif" %}</th>
                    <th class="col-xs-1" data-field="distance" data-sortable="true">{% trans "Distance (km)" %}</th>
                    <th class="col-xs-1" data-field="duration" data-sortable="true">{% trans "Durée (h)" %}</th>
                    <th class="col-xs-1" data-field="location" data-visible="false">{% trans "Localisation (Long,Lat)" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for stage in t.tripstage_set.all %}
                <tr>
                    <td><a href="{% url 'trip_stage' stage.stage_slug %}">{{ stage.stage_name }}</a></td>
                    <td>
                        <a href="{% url 'trip' stage.trip_linked.trip_slug %}">{{ stage.trip_linked }}</a>
                    </td>
                    <td>{{ stage.date }}</td>
                    <td>{{ stage.massif }}</td>
                    <td>{{ stage.distance }}</td>
                    <td>{{ stage.duration }}</td>
                    <td>{{ stage.geom.coords }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}