{% extends 'home/base.html' %}
{% load i18n %}

{% block title %}{% trans "WASC" %} | {{ t.stage_name }}{% endblock %}

{% block breadcrumb2 %}
    {{ block.super }}
    <li><a href="{% url 'list_trips' %}">{% trans "Liste des étapes" %}</a></li>
    <li><a href="{% url 'trip_stage' t.stage_slug %}">{{ t.stage_name }}</a></li>
{% endblock breadcrumb2 %}

{% block content %}
<div class="container container_body">
    <h1>{{ t.stage_name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <p>{{ t.date }}</p>
        </div>
        <div class="col-md-6">
            {% if t.distance %}<p>{{ t.distance }} km</p>{% endif %}
            {% if t.duration %}<p>{{ t.duration }} h</p>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if t.story %}{{ t.story|safe }}{% endif %}
        </div>
    </div>
</div>
{% endblock content %}