{% extends 'home/base.html' %}
{% load i18n %}

{% block title %}{% trans "WASC" %} | {{ t.trip_name }}{% endblock %}

{% block breadcrumb2 %}
    {{ block.super }}
    <li><a href="{% url 'list_trips' %}">{% trans "Liste des aventures" %}</a></li>
    <li><a href="{% url 'trip' t.trip_slug %}">{{ t.trip_name }}</a></li>
{% endblock breadcrumb2 %}

{% block content %}
<div class="container padding_top_15px">
    <h1>{{ t.trip_name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <p>{{ t.start_date }} - {{ t.end_date }}</p>
            <p style="margin-bottom: 15px;">{{ t.nbr_of_days }} {% trans "jours" %}</p>
            {% if t.description %}{{ t.description|safe }}{% endif %}
        </div>
        <div class="col-md-6">
            <img class="img-responsive center-block" src="/media/{{ t.picture_tag }}" %}" />
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 15px;">
    <div class="row">
        {% for stage in t.tripstage_set.all %}
            <div class="col-md-4 padding_top_bot_10px">
                <figure style="position: relative;">
                    <figcaption class="text-over-img">
                        <a href="{% url 'trip_stage' stage.stage_slug %}" class="btn btn-default center-block" role="button">{{ stage.stage_name }}</a>
                    </figcaption>
                    <a href="{% url 'trip_stage' stage.stage_slug %}"><img class="img-responsive img-thumbnail center-block" src="/media/{{ stage.picture_tag }}" %}" /></a>
                </figure>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}