{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "WASC | Articles" %}{% endblock %}

{% block content %}
<div class="container container_body">
    <h1 class="text-uppercase">{% trans "Articles" %}</h1>
    <div class="container">
        <div class="row">
            {% for a in articles_m %}
                <div class="col-md-4">
                    <p><a href="{% url 'article' a.title %}" class="btn btn-default center-block" role="button">{{ a.title }}</a></p>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-12">
			<p class="text-center"><a href="{% url 'download_articles_pdf' %}" class="btn btn-default btn-lg" role="button">{% trans "Télécharger le résumé en PDF" %}</a></p>
		</div>
    </div>
</div>
{% endblock content %}