{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% blocktrans with a|title as a_title%} WASC | {{ a_title }} {% endblocktrans %}{% endblock %}

{% block content %}
<div class="container container_body">
    <h1 class="text-uppercase">{{ a.title }}</h1>
    <div class="container">
	<div class="row">
        <p>{{ a.description|safe }}</p>
        <div class="col-md-12">
			<p class="text-center"><a href="{% url 'download_article_pdf' a.title %}" class="btn btn-default btn-lg" role="button">{% trans "Télécharger l'article en PDF" %}</a></p>
		</div>
	</div>
</div>

{% endblock content %}