{% extends 'home/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="text-center">{% trans "Geology" %}</h1>
</div>

<div class="container container_body">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h3 class="panel-title text-uppercase">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Histoire de la Terre</a>
                </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    La Terre est née de l'accrétion de poussières il y a 4,6 milliards d'années. C'est à ce moment là que des matières comme le fer, le nickel se sont formées.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h3 class="panel-title text-uppercase">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Reconnaissance des roches</a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Il existe 3 grandes familles de roches.
                    <ul>
                        <li>Roches sédimentaires</li>
                        <li>Roches volcaniques</li>
                        <li>Roches métamorphiques</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h3 class="panel-title text-uppercase">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Curiosités de la Nature</a>
                </h3>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <ul>
                        <li><a href="http://bulgariatravel.org/fr/object/128/Chudnite_skali_zabelejitelnost">Les roches merveilleuses de Dalgopol en Bulgarie</a></li>
                        <li><a href="http://www.maxisciences.com/vall%E9e-de-la-mort/vallee-de-la-mort-le-mystere-des-pierres-qui-bougent-toutes-seules-enfin-resolu_art33378.html">Pierres du lac lac asséché de Racetrack Playa en Californie</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}